.formElementWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textArea > :first-child {
  height: 300px;
}

.commonInput > :first-child {
  height: 40px;
}

.formElementName {
  margin-bottom: 10px;
}

.formElementWrapper .formElementInput > :first-child {
  width: 100%;
}

.form {
  margin: auto;
  width: 90%;
}

.submit {
  display: flex;
}

.submit > :first-child {
  margin-left: auto;
}
