html {
  background: #f5d0a4 no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.navigationElementsWrapper {
  display: flex;
  gap: 50px;
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.navigationElement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  background-color: #f5d0a4;
  border-style: solid;
  border-radius: 50%;
  border-color: #79947f;
}
